*{
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro';
}


.fondo{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../image/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 0px;
}


    /*MENU*/
        header{
            width: 85%;
            margin: auto;
            padding: 35px 0;  
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        
    /*LISTA MENU*/    
        header nav ul li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }

        header nav ul li a{
            text-decoration: none;
            color:#fff;
            text-transform: uppercase;
        }

    /*ANIMACION MENU*/
        header nav ul li::after{
            content: '';
            height: 3px;
            width: 0;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        
        header nav ul li:hover::after{
            width: 100%;
        }

        footer ul li::after{
            content: '';
            height: 3px;
            width: 0;
            background: black;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        
        footer ul li:hover::after{
            width: 100%;
        }
        
    /*MODIFICACION LOGO*/
        .izq{
            text-decoration: none;
            color: #fff;
            width: 230px;
            cursor: pointer;
            display: flex;
        }
        
        .izq img{
            height: 30px;
            display: inline-block;
            margin-right: 30px;
        }

    /*FOOTER*/
        footer{
            margin-top: 10vh;
            background-color: rgb(102, 102, 102);
            display: flex;
            width: 100%;
            height: 20vh;
            justify-content: center;
            position: absolute;
            text-align: center;
            
        }

        footer ul{
            height: 100%;
            
        }

        footer ul li{
            color: #fff;
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }
        footer ul li a{
            text-decoration: none;
            color: black;
        }
        
    /*---PAGINA INICIO---*/    

            /*CONTENEDOR 1*/    
                .contenedor1{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 90vh;
                    
                }
                .contenedor1 .contenedor__lomasreciente{
                    display: flex;
                    width: 100%;
                    height: 30vh;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                .contenedor1 .contenedor__lomasreciente h2{
                    font-size: 50px;
                }
                .contenedor1 .contenedor__lomasreciente p{
                    font-size: 19px;
                }
                .carrusel{
                    background-color: rgba(0,0,0,0.50);
                }
                .carrusel__contenedor {
                    position: relative;
                }                
                .carrusel__anterior{
                    z-index: 100;
                    position: absolute;
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: none;
                    top: calc(50% - 35px);
                    cursor: pointer;
                    line-height: 30px;
                    text-align: center;
                    background: none;
                    color: #fff;
                    opacity: 20%;
                }                
                .carrusel__anterior:hover{
                    opacity: 100%;
                }                
                .carrusel__anterior {
                    left: 30px;
                }
                .carrusel__lista {
                    overflow: hidden;
                    
                }                
                .carrusel__elemento {
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                }
                .carrusel__elemento img{
                    height: 200px;
                    width: 400px;
                }
                .carrusel__siguiente {
                    position: absolute;
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: none;
                    top: calc(50% - 35px);
                    cursor: pointer;
                    line-height: 30px;
                    text-align: center;
                    background: none;
                    color: #fff;
                    opacity: 20%;
                }                
                .carrusel__siguiente:hover {
                    opacity: 100%;
                }               
                .carrusel__siguiente {
                    right: 30px;
                }                              
                .carrusel__indicadores .glider-dot {
                    display: flex;
                    width: 30px;
                    height: 4px;
                    background: #fff;
                    opacity: .2;
                    border-radius: 0;
                    z-index: 100
                }                
                .carrusel__indicadores .glider-dot:hover {
                    opacity: .5;
                }
                .carrusel__indicadores .glider-dot.active {
                    opacity: 1;
                }
                

            
            /*CONTENEDOR 2*/    
                .contenedor2{
                    display: flex;
                    background-color: white;
                    flex-direction: column;
                    margin-left: 20vh;
                    margin-right: 20vh;                    
                }

                /*exitos*/
                .exitos{
                    margin-top: 15vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                }

                /*exitos*/
                .fechas {
                    margin-top: 5vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                }

                /*redes sociales*/
                .redessociales {
                    margin-top: 5vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                }

                

                
                @media screen and (max-width: 1200px){
                    .carrusel__elemento img{
                        height: 100px;
                        width: 180px;
                    }

                    .carrusel__anterior {
                        left: 10px;
                    }
                    
                    .carrusel__siguiente {
                        right: 10px;
                    } 
                }
                
                @media screen and (max-width: 1528px){
                    .carrusel__elemento img{
                        height: 120px;
                        width: 240px;
                    }

                    .carrusel__anterior {
                        left: 10px;
                    }
                    
                    .carrusel__siguiente {
                        right: 10px;
                    } 
                }
                
                @media screen and (max-width: 1360px) {
                    .carrusel__elemento img{
                        height: 130px;
                        width: 300px;
                    }

                    .carrusel__anterior {
                        left: 10px;
                    }
                    
                    .carrusel__siguiente {
                        right: 10px;
                    }  
                    
                }